<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>Test Report - ${projectName}</title>
	    
	    <!-- Bootstrap -->
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->	    
	</head>
	<body>
		<div class="container-fluid">
			<h1>Test Report <small>${projectName}</small></h1>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Total Number of Test Classes</label>
					<div class="col-sm-10">
						<p class="form-control-static">${testClassReports.size()}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Total Number of Test Methods</label>
					<div class="col-sm-10">
						<p class="form-control-static">${testClassReports.totalTestMethodReportCount}</p>
					</div>
				</div>
			</form>
			#foreach($testClassReport in $testClassReports)
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Test Case: ${testClassReport.testClassName}</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Total Number of Test Methods</label>
								<div class="col-sm-10">
									<p class="form-control-static">${testClassReport.testMethodReportCount}</p>
								</div>
							</div>
						</form>					
					</div>
					<table class="table">
						<thead>
							<tr><th>Description</th><th>Type</th><th>Issues</th></tr>
						</thead>
						<tbody>
							#foreach($testMethodReport in $testClassReport.testMethodReports)
							<tr>
								<td>${testMethodReport.methodNameAsEnglish}</td>
								<td>${testMethodReport.testType}</td>
								<td>$displayTool.list($testMethodReport.issues,", ")</td>
							</tr>
							#end
						</tbody>
					</table>
				</div>
			#end
		</div>
	</body>
</html>